/* ==========BASIC UNIVERSAL STYLING & CLEAN UP========== */
html {
    scroll-behavior: smooth;
}
body { 
    margin: 0; box-sizing: border-box; 
    background-color: var(--bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    --color-text: white;
    color:var(--color-text);
    letter-spacing: 3px;
}
a { text-decoration: none; color:var(--color-text); }

@font-face {
    font-family: 'caviar dreams';
    src: url(/fonts/caviar_dreams/CaviarDreams.ttf) format('woff2');
  }

/* =============LOGO============= */
#logo img{
    z-index: 1;
    position: absolute;
    margin-left: 41%;
    margin-top: .5%;
    width: 14%;
    height: auto;
    padding:30px;
    image-rendering:crisp-edges;
}
.toggle:checked ~ * #logo{
    --invert: invert(0%);
}
#logo{
    --invert: 100%;
    filter: invert(var(--invert));
}


/* =============NAVIGATION============= */
#menuleft{
    /* margin-top: -0%; */
    /* margin-left: -44.6%; */
    width:100%;
    position:absolute;
    right:610px;
    top: 20px;
    transform:rotate(270deg);
    font-weight: lighter;
    font-size:2.5vw;
    letter-spacing: 3px;
    word-spacing: 25px;
}
nav a:hover{
    cursor: pointer;
    color: rgba(254, 92, 61, 1);
}
#hero img {
    transition: .15s;
    display: block;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    width: 77%;
    height: auto;
}
#hero img:hover{
    transform:skewX(.75deg);
}
#menuright{    
    transform: rotate(90deg);
    position:absolute;
    font-size:2.5vw;
    letter-spacing: 3px;
    word-spacing: 11px;
    right:.6%;
    margin-top:-30%;
}
#ig{
    position:absolute;
    width: 38%;
    top:30%;
    right:-50%;
}

/* ==========MAIN BODY CONTENT============= */

#projecthed h2 {
    text-align: left;
    margin-left: 10%;
    margin-top: 6.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: 3px;
    word-spacing: 11px;
    font-size: 3vw;
}

.projects{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div.item1 {
    text-align: center;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    color:var(--color-text);
    display: block;
    margin: auto;
}
div.item2 {
    display: inline-block;
    text-align: center;
    padding: 5%;
    margin-top: -5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    color:var(--color-text);
    display: block;
    margin: auto;
}

/* ==========SECTION 1 STYLING============= */

div.item1 img{
    width: 30vw;
}
div.item2 img{
    width: 30vw;
}
div.item3 img{
    width: 30vw;
}
div.item1 img:hover{
    transform:skewX(1deg) scale(1.02);
}
div.item2 img:hover{
    transform:skewX(-1deg) scale(1.02);
}
div.item3 img:hover{
    transform:skewX(-1deg) scale(1.02);
}
.item1 img{
    transition: .1s ease;
}
.item2 img{
    transition: .1s ease;
}
.item3 img{
    transition: .1s ease;
}

/* ==========SECTION 2 STYLING============= */

#stillhed h2, #projects h2 {
    text-align: left;
    margin-left: 5.3%;
    margin-top: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: .2em;
    word-spacing: 11px;
    font-size: 220%;
}
#projects h2{
    padding-top:6%;
}

div.item3 {
    text-align: center;
    padding: 5%;
    color:var(--color-text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 3vw;

    display: block;
    margin: auto;
}

/* ==========SECTION 3 STYLING============= */

#abouthed h2 {
    text-align: left;
    margin-left: 5.3%;
    margin-top: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: .2em;
    word-spacing: 11px;
    font-size: 220%;
}

div.item4 {
    display: inline-block;
    text-align: center;
    padding: 4%;
    color:var(--color-text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 3vw;
}

div.item4 img {
    width:80%;
    margin-top:-5%;
}

.aboutinfo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: .2em;
    word-spacing: 6px;
    font-size: 160%;

    margin-top: -2%;
    width: 70%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.aboutinfo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: .2em;
    word-spacing: 6px;
    font-size: 160%;

    margin-top: 2.5%;
    margin-bottom: 5%;
    
    width: 70%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

/* ==========SECTION 4 STYLING============= */

div.item5 img{
    position:relative;
    vertical-align: top;
    display: inline-block;
    text-align: center;

    width:2.1%;
    left:1.4%;
    top:1vw;
}
div.item6 img{
    position:relative;
    vertical-align: top;
    display: inline-block;
    text-align: center;

    width: 2.5%;
    left:95.5%;
    top:-1.4vw;
}

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    color:var(--color-text);
    letter-spacing: .2em;
    word-spacing: 6px;
    font-size: 100%;

    margin-top: 2.5%;
    margin-bottom: 5%;
    
    width: 60%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


/* ==========FOOTER STYLIING============= */



.toggle {  /* ============= Background dark-mode toggle code ============= */
  --size: 1.8rem; /* ============= Change size ============= */
  
  appearance: none;
  outline: none;
  cursor: pointer; /* ============= Affordance to click ============= */
  
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);

  transition: all 500ms;
}
 .toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.7);
    --offset-diagonal: calc(var(--size) * 0.5);

    transform: scale(0.75);
    color:rgb(31, 31, 31); /* ============= Change colour ============= */
    box-shadow: 
      inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.fluidimageholder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 120vh;
}
.fluidimageholder p{
    color:var(--color-text);
    font-size: 2em;
    margin-bottom: 0;
    letter-spacing: .2em;
}

.fluidimage{
    background-position: center;
    height: 85vh;
    width: 40vw;
}

.fluidimage img{
    width: 100%;
}

.fluidimage canvas{
    width: 30vw !important;
    height: 30vw;
}

.background {
  --bg: rgb(8, 8, 8); /* ============= Dark-mode colour ============= */
  background: var(--bg);
  transition: .5s;
  width: 100%;
  height:100%;
}

.toggle {
    position: fixed;
    top:2%;
    right:2%;
    z-index: 1;
}

.toggle:checked ~ .background {
      --bg: rgba(253, 253, 254, 1); /* ============= Light-mode colour ============= */
    --color: black;
    --color-text: rgb(39, 39, 39);
    --invert: invert(0%);
    }
.toggle:checked ~ * #ig{
    --invert: invert(0%);
}
#ig{
    --invert: 100%;
    filter: invert(var(--invert));
}

.toggle:checked ~ * .item5{
    --invert: invert(0%);
}
.item5{
    --invert: 100%;
    filter: invert(var(--invert));
}
.toggle:checked ~ * .item6{
    --invert: invert(0%);
}
.item6{
    --invert: 100%;
    filter: invert(var(--invert));
}
#contact{
    margin-left:10%;
    margin-right:10%;
}

.reveal, .revealfirst
{
    border-radius: 2px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    /* transition: all 2s ease; */
    transition: transform .6s ease-in-out,opacity .4s ease-in-out;
}

.reveal.active, .revealfirst.active
{
    transform: translateY(0px);
    opacity: 1;
}

 
/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {

        
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
   
    
    
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 
    #menuright{    
        display: none;
        transform: rotate(90deg);
        position:absolute;
        font-size:3vw;
        letter-spacing: .2em;
        word-spacing: 11px;
        right:0%;
        margin-top:-31%;
    }
    #projecthed h2 {
        text-align: left;
        margin-left: 5.3%;
        margin-top: 6.5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        letter-spacing: .2em;
        word-spacing: 11px;
        font-size: 3vw;
    }
      
    
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 
    #menuright{    
        transform: rotate(90deg);
        position:absolute;
        font-size:4vh;
        letter-spacing: .2em;
        word-spacing: 11px;
        right:-4.5%;
        margin-top:-35.5%;
    }
      
    
}

@media only screen and (max-width: 768px) { 
    #menuright{    
        transform: rotate(90deg);
        position:absolute;
        font-size:4vh;
        letter-spacing: .2em;
        word-spacing: 11px;
        right:-4.8%;
        margin-top:-38%;
    }
    
    #ig{
        position:absolute;
        width: 30%;
        top:36%;
        right:-50%;
    }
    
        
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) { 
    div.item5 img{
        position:relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
    
        width:6.5%;
        left:5%;
        top:4vw;
    
    }
    div.item6 img{
        position:relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
    
        width: 8%;
        left:90.5%;
        top:-3vw;
    }

    #menuright{    
        display: none;
    }
     
}

@media only screen and (max-width: 360px) { 
    #menuleft{
        display: none;
    }
    #menuright{
        display: none;
    }

    #projecthed h2 {
        text-align: center;
        margin-left: 5.3%;
        margin-top: 6.5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 11px;
        font-size: 220%;
    }

    #menuright{    
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        transform: rotate(90deg);
        position:absolute;
        font-size:2vh;
        word-spacing: 11px;
        right:0%;
        top:51.5%;
    }

    #ig{
        position:absolute;
        width: 28%;
        top:33%;
        right:-40%;
    }
    #logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 38%;
        height: auto;
        image-rendering:crisp-edges;
        /* filter: invert(100%); */
    }
    #hero img {
        transition: .15s;
    
        display: block;
        text-align: center;
        width: 90%;
        margin-bottom: -8%;
        margin-top:5%;
    }
    #projecthed h2 {
        text-align: center;
        margin-left: 5.3%;
        margin-top: 15.5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 11px;
        font-size: 150%;
    }
    #stillhed h2, #projects h2 {
        text-align: center;
        margin-left: 5.3%;
        margin-top: 0%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 11px;
        font-size: 150%;
    }
    div.item1 img{
        width: 40vw;
    }
    div.item2 img{
        width: 40vw;
    }
    div.item3 img{
        width: 40vw;
    }
    div.item1 {
        display:block;
        margin:auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        font-size: 2.5vh;
    }
    div.item2 {
        display: block;
        margin:auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        font-size: 2.5vh;
    }
    div.item3 {
        display: block;
        margin:auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        font-size: 2.5vh;
    }
    div.item4 img {
        width:50%;
        margin-top:5%;
    }
    
    .aboutinfo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 6px;
        font-size: 120%;
    
        margin-top: -2%;
        width: 70%;
        text-align: justify;
        margin-left:auto;
        margin-right:auto;
    }
    div.item5 img{
        
        position:relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
    
        width:6.5%;
        left:3%;
        top:5vw;
    
    }
    div.item6 img{
        position:relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
    
        width: 8%;
        left:88.5%;
        top:-1.4vw;
    }
    #abouthed h2 {
        text-align: center;
        margin-left: 5.3%;
        margin-top: 5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 11px;
        font-size: 150%;
    }
    
    .aboutinfo2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:lighter;
        color:var(--color-text);
        word-spacing: 6px;
        font-size: 120%;
    
        margin-top: 2.5%;
        margin-bottom: 5%;
        
        width: 70%;
        text-align:justify;
        margin-left:auto;
        margin-right:auto;
    }
    .toggle {  /* ============= Background dark-mode toggle code ============= */
        --size: 1rem; /* ============= Change size ============= */
        
        appearance: none;
        outline: none;
        cursor: pointer; /* ============= Affordance to click ============= */
        
        width: var(--size);
        height: var(--size);
        box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
        border-radius: 999px;
        color: hsl(240, 100%, 95%);
      
        transition: all 500ms;
      }
       .toggle:checked {
          --ray-size: calc(var(--size) * -0.4);
          --offset-orthogonal: calc(var(--size) * 0.7);
          --offset-diagonal: calc(var(--size) * 0.5);
      
          transform: scale(0.75);
          color:rgb(72, 72, 78); /* ============= Change colour ============= */
          box-shadow: 
            inset 0 0 0 var(--size),
            calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
            var(--offset-orthogonal) 0 0 var(--ray-size),
            0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
            0 var(--offset-orthogonal) 0 var(--ray-size),
            calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
            var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
            calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
            var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
        
      }
}

